<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">
    <%= error_header %>
  </div>
  <ul class="list">
    <% error_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>