<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="two wide column">
        <a href="https://www.zillow.com" target="_blank">
          <img class="ui tiny centered image" src="/img/zillow-logo.png">
        </a>
      </div>
      <div class="two wide column">
        <a href="https://opendata.cityofnewyork.us/" target="_blank">
          <img class="ui tiny centered image" src="/img/nyc-open-data-logo.png">
        </a>
      </div>
      <div class="eleven wide column">
        <h4 class="ui inverted header">
          NYC 311 Apartment Finder
        </h4>
        <p>
          By <a href="https://github.com/sachafrosell/" target="_blank">Alex Frosell</a> and <a href="https://github.com/ihollander/" target="blank">Ian Hollander</a>. Data provided by Zillow API and NYC Open Data API.
        </p>
      </div>
    </div>
  </div>
</div>