<div id="mapDiv" style="height: 500px;"></div>
<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('mapDiv'), {
      zoom: 11,
      center: new google.maps.LatLng(40.712776, -74.005974), //centering on NYC
      mapTypeId: 'terrain'
    });
    <% neighborhoods.each do |neighborhood| %>
      map.data.loadGeoJson("<%= neighborhood.geojson %>");
      //styling: find id from geojson and match...
    <% end %>
  }
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:ian_api_key] %>&callback=initMap">
</script>