<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Apartment Index Page</h1>
    <ul>
      <% @apartments.each do |a| %>
      <li><%= link_to a.street, a %></li>
      <% end  %>
    </ul>
  </body>
</html>
